/* GRID GERAL */
.container {
  color: var(--gray);
  margin: 0 auto;
  max-width: 1280px;
}

/* NAVEGACAO */
.header-container {
  padding: 60px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 3rem;
  color: var(--orange);
}

.nav ul {
  display: flex;
  gap: 15px;
}
.nav ul a {
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .header-container {
    padding: 40px 20px;
  }
  .logo {
    font-size: 2rem;
  }
  .nav ul a {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .header-container {
    display: flex;
    gap: 5px;
    justify-content: center;
  }
}
