.main-container {
  margin: 0 0 30px 60px;
}

.conteudo {
  z-index: 1;
  position: absolute;
}

.title {
  max-width: 19ch;
  font-size: 4rem;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 1.5rem;
  max-width: 25ch;
  margin: 10px 0 60px 0;
}
.btn {
  display: block;
  text-align: center;
  background: var(--orange);
  border-radius: 15px;
  color: var(--white);
  font-size: 1.5rem;
  padding: 16px 48px;
  max-width: max-content;
  transition: 0.2s ease-out;
}
.btn:hover {
  background: var(--gray);
}
.img {
  position: relative;
  right: 0;
  display: flex;
  justify-content: right;
}
.img img {
  width: 70%;
}

@media (max-width: 900px) {
  .title {
    font-size: 3rem;
  }
  .subtitle {
    margin-bottom: 28px;
    font-size: 1.3rem;
  }
  .btn {
    padding: 12px 40px;
  }
  .img {
    width: auto;
    height: 30%;
  }
}

@media (max-width: 700px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
    margin: 0 auto;
  }
  .conteudo {
    position: initial;
    text-align: center;
    margin: 0 auto;
  }
  .conteudo h1,
  .conteudo p {
    max-width: initial;
  }
  .img {
    position: initial;
    grid-row: 1;
    display: block;
  }
  .img img {
    width: initial;
  }
  .conteudo .btn {
    margin: 0 auto;
  }
}
